In [43]:

import kitlvTdm
from importlib import reload
reload(kitlvTdm)
from kitlvTdm import *
import pandas as pd

In [44]:
path = 'Corpus'

In [55]:
df = pd.DataFrame(columns = ["probleem", "corpus_nr", "titel", "jaar"])
for file in os.listdir( path ):
    title = showTitle(file)
    year = showYear(file)
    
    if title == "Unknown":
        print("unknown")
        df.loc[len(df.index)] = ["no metadata", file, "", ""]
    elif year == "":
        df.loc[len(df.index)] = ["no year", file, title, ""]
    elif year[0] == 2:
        df.loc[len(df.index)] = ["year>2000", file, title, year]
    elif len(year) > 4:
        df.loc[len(df.index)] = ["wrong format year", file, title, year]
    else:
        df.loc[len(df.index)] = ["no problem", file, title, year]

unknown

In [59]:
df = df[["probleem", "corpus_nr", "jaar", "titel"]]

In [60]:
df

,probleem,corpus_nr,jaar,titel
0,no year,03391.txt,,Indonesie? liet me nooit meer los : vijftig ja...
1,no year,03392.txt,,De vergeten dagboeken
2,no year,03393.txt,,"Hij ging, kwam terug en keerde weer"
3,no year,03394.txt,,Herinneringen van een Roodborstje : verhalen u...
4,no year,03395.txt,,Het reizende bataljon : herdenkingsboek 8 RS
...,...,...,...,...
571,no year,06003.txt,,"""Ze spraken er niet over"
572,no year,06004.txt,,Van moederland naar vaderland
573,no problem,06005.txt,1983,Allen zwijgen (1983)
574,no year,06006.txt,,"Dat was jij, marinier! : de geschiedenis van d..."
575,no problem,06007.txt,1947,Gedenkboek 4-11-R.I. (1947)

In [62]:
df.to_excel("metaissues.xlsx")